body {
    margin: 0;
    font-family: Nunito Sans, Arial; 
}

body {
    box-sizing: border-box; 
}

.container {
     max-width: 1250px;
     margin: 0 auto; 
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    padding: 13px 33px; 
    color: white;
    text-transform: uppercase;
}

.logo {
    color: #E3B873;
}

.header {
    background-color: black;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;

}

.header-navigation {
    list-style: none;
    display: flex; 
}

.header-navigation_item {
    margin-right: 47px;
    font-size: 11px;
}

.header-navigation_item a {
    text-decoration: none;
    color: white;
}

.header-navigation_number {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
}

.title {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;   
    font-size: 40px;
    font-weight: normal;
    line-height: 53px;
    text-transform: uppercase;
    text-align: left;
    color: white;
    width: 676px;
    height: 105px;
    top: 277px;
    left: 134px;
}

.colortext {
    color: #E3B873;
}
.title1 {
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    width: 504px;
    height: 89px;
    top: 401px;
    left: 134px;
}

.hero-container1 {
    position: relative;
    z-index: 1;
}

.hero_button {
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    height: 51px;
    width: 207px;
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;  
}

.hero_buttons {
    position: relative;
    z-index: 1;
    left: 95px;
}

.hero_button1 {
    background-color: transparent;
    text-align: center;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px; 
    height: 51px;
    width: 207px;
    color: #FFFFFF;
 
}

